{% extends 'fragments/base.html.twig' %}

{% block title %} Conditions générales d'utilisation - Réalisation de visites virtuelles à 360° {% endblock %}

{% block body %}

<section class='body-background'>

    {% include 'fragments/navbar.html.twig' %}

    <section class='section-content'>
        <div class='part-rules'>
            <h2>Conditions générales d'utilisation</h2>

            <h3>1. Droits et obligations des utilisateurs</h3>
            <p>
                <strong>2.1</strong> Vous avez le droit d'utiliser le service conformément aux présentes conditions d'utilisation et aux lois en vigueur.
            </p>
            <p>
                <strong>2.2</strong> Vous vous engagez à utiliser le service de manière légale, éthique et appropriée, en respectant les droits des autres utilisateurs et en vous abstenant de toute activité frauduleuse, abusive ou illégale.
            </p>

            <h3>2. Visites virtuelles et hébergement</h3>
            <p>
                <strong>3.1</strong> Nous vous livrerons votre visite virtuelle sous la forme d'un projet HTML. Nous également hébergerons cette dernière sur nos serveurs, ce qui fait que vous pourrez aussi directement intégrer la visite via une balise iFrame sur votre site Web.
            </p>

            <h3>3. Propriété intellectuelle</h3>
            <p>
                <strong>3.1</strong> Vous conservez tous les droits de propriété intellectuelle sur le contenu que vous fournissez à lookaround pour la création de la visite virtuelle de votre site.
            </p>
            <p>
                <strong>3.2</strong> En utilisant le service, vous accordez à lookaround une licence mondiale, non exclusive, transférable et libre de redevances pour héberger, reproduire et distribuer votre visite virtuelle à des fins de promotion et de marketing de lookaround.
            </p>
        </div>
    </section>
    {% include 'fragments/footer.html.twig' %}
</section>


{% endblock %}