{% extends 'fragments/base.html.twig' %}

{% block title %} Politique en matière de cookies - Réalisation de visites virtuelles à 360° {% endblock %}

{% block body %}

<section class='body-background'>
    {% include 'fragments/navbar.html.twig' %}

    <section class='section-content  background-grey-waves'>
        <div class='part-rules'>
            <h2>Politique en matière de cookies</h2>

            <h3>1. Introduction</h2>
            <p>Nous utilisons des cookies et des technologies similaires sur notre site web pour améliorer votre expérience utilisateur et vous fournir des services personnalisés. Cette politique de cookies explique ce que sont les cookies, comment nous les utilisons et comment vous pouvez les gérer.
            </p>

            <h3>2. Qu'est-ce qu'un cookie ?</h2>
            <p>
                Un cookie est un petit fichier texte qui est stocké sur votre ordinateur ou votre appareil mobile lorsque vous visitez notre site web. Les cookies nous permettent de vous reconnaître et de vous proposer des fonctionnalités personnalisées, comme la mémorisation de vos préférences de langue ou la conservation de votre panier d'achat.
            </p>

            <h3>3. Comment utilisons-nous les cookies ?</h2>
            <p>
              Nous utilisons des cookies pour les finalités suivantes :
            </p>

            <ul>
                <li>Fonctionnalité : ces cookies sont nécessaires au bon fonctionnement de notre site web et nous permettent de mémoriser vos préférences de langue et vos informations de connexion.</li>
                <li>Analyse : nous utilisons des cookies d'analyse pour collecter des données sur la manière dont les visiteurs utilisent notre site web. Ces données nous aident à améliorer nos services et à mieux comprendre les besoins de nos clients.</li>
                <li> Publicité : nous utilisons des cookies publicitaires pour afficher des publicités pertinentes et personnalisées en fonction de vos intérêts.</li>
            </ul>

            <h3>4. Gestion des cookies</h2>
            <p>
               Vous pouvez gérer les cookies en modifiant les paramètres de votre navigateur. Vous pouvez choisir d'accepter ou de refuser les cookies, ou de demander une notification chaque fois qu'un cookie est utilisé. Veuillez noter que si vous refusez les cookies, certaines fonctionnalités de notre site web peuvent ne pas fonctionner correctement.
            </p>

            <h3>5. Cookies tiers</h2>
            <p>
                Nous pouvons utiliser des cookies tiers sur notre site web pour des finalités d'analyse ou de publicité. Ces cookies sont placés par des tiers et nous n'avons pas le contrôle sur leur utilisation. Nous vous recommandons de consulter la politique de confidentialité et la politique de cookies de ces tiers pour en savoir plus sur leur utilisation des cookies.
            </p>
        </div>

    </section>

    {% include 'fragments/footer.html.twig' %}
</section>




{% endblock %}