{% extends 'fragments/base.html.twig' %}

{% block title %} Politique de confidentialité - Réalisation de visites virtuelles à 360° {% endblock %}

{% block body %}

<script>document.querySelector("body").style.backgroundColor = "white";</script>

<section class='body-background'>
    {% include 'fragments/navbar.html.twig' %}
    <section class='section-content  background-grey-waves'  >
        <div class='part-rules'>

            <h1>Politique de confidentialité</h1>

            <h2>1. Introduction</h2>
            <p>Nous prenons très au sérieux la protection de vos données personnelles et nous nous engageons à respecter la législation en vigueur en matière de protection des données. Cette politique de confidentialité a pour objectif de vous informer sur la manière dont nous collectons, traitons et utilisons vos données personnelles.</p>

            <h2>2. Données personnelles collectées</h2>
            <p>Nous collectons les données personnelles suivantes :</p>

            <ul>
                <li>Nom de société</li>
                <li>Adresse e-mail</li>
                <li>Adresses postale</li>
                <li>Numéro de téléphone</li>
            </ul>

            <h2>3. Finalités de la collecte de données</h2>
            <p>Nous collectons vos données personnelles pour les finalités suivantes :</p>
            <ul>
                <li>Traitement des commandes : nous avons besoin de vos données personnelles pour traiter et livrer votre commande.</li>
                <li>Amélioration de nos services : nous utilisons vos données personnelles pour améliorer nos services et mieux répondre à vos besoins.</li>
            </ul>
            <h2>4. Durée de conservation des données</h2>
            <p>Nous conservons vos données personnelles pendant la durée nécessaire à la réalisation des finalités pour lesquelles elles ont été collectées, sauf si une durée de conservation plus longue est exigée ou autorisée par la loi.</p>

            <h2>5. Sécurité des données</h2>
            <p>Nous avons mis en place des mesures de sécurité techniques et organisationnelles appropriées pour protéger vos données personnelles contre toute perte, destruction, altération ou divulgation non autorisée.</p>

            <h2>6. Partage des données</h2>
            <p>Nous ne partageons pas vos données personnelles avec des tiers, sauf si cela est nécessaire pour la réalisation des finalités pour lesquelles elles ont été collectées, ou si nous sommes tenus de le faire par la loi.</p>

            <h2>7. Droits des personnes concernées</h2>
            <p>Vous avez le droit de demander l'accès, la rectification ou la suppression de vos données personnelles. Vous avez également le droit de demander la limitation du traitement de vos données personnelles ou de vous opposer à leur traitement. Pour exercer vos droits, vous pouvez nous contacter <a href='{{ path('scrollToForm')}}'>ici</a>.</p>

            <h2>8. Contact</h2>
            <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, vous pouvez nous contacter  <a href='{{ path('scrollToForm')}}'>ici</a></p>

        </div>

    </section>

    {% include 'fragments/footer.html.twig' %}
</section>




{% endblock %}