 <div class='Footer'>
    <div class='Footer-container'>




        <h1 onclick="goWelcome.submit()" class="logo-LA" style="margin-bottom: 20px;">look<span class="span-around">around®</span></h1>
        <div class="Partie-Exemples-End" style="background: transparent">
            <a href="{{ path('app_conditionsgenerales')}}">Conditions générales</a>
            <a href="{{ path('app_politiqueconfidentialite')}}">Politique de confidentialité</a>
            <a href="{{ path('app_politiquecookies')}}">Politique en matière de cookies </a>
        </div>
    </div>
</div>